@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.bg-forgotpassword {
  background: rgb(153, 157, 156);
  background: linear-gradient(0deg, rgba(153, 157, 156, 1) 0%, rgba(253, 222, 204, 1) 100%);
}
